<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="<?php echo base_url('resource/css/bootstrap.css'); ?>
	">
	<link rel="stylesheet" href="<?php echo base_url('resource/css/nav.css'); ?>
	">
	<title>设置背景图片</title>
</head>
<body>
	<div class="nav_container">
		<?php include('top.html') ?>

		<div id="add_header">
			<h1>选择你自己的风格</h1>
		</div>
		<div id="add_hr">
			<hr></div>
		<div id="bgimg_cotainer">
			<div id="bgimg_left">
				<ul>
					<li>
						<a href="<?php echo base_url('index.php/navcontrollers/nav_controller/changebg'); echo "?id=" ; echo base_url('resource/img/1.jpg'); ?>">
							<img src="<?php echo base_url('resource/img/1.jpg'); ?>" alt="">
						</a>
					</li>
					<li>
						<a href="<?php echo base_url('index.php/navcontrollers/nav_controller/changebg'); echo "?id=" ; echo base_url('resource/img/2.jpg'); ?>">		
							<img src="<?php echo base_url('resource/img/2.jpg'); ?>" alt="">
						</a>
					</li>
					<li>
						<a href="<?php echo base_url('index.php/navcontrollers/nav_controller/changebg'); echo "?id=" ; echo base_url('resource/img/3.jpg'); ?>">		
							<img src="<?php echo base_url('resource/img/3.jpg'); ?>" alt="">
						</a>
					</li>
					<li>
						<a href="<?php echo base_url('index.php/navcontrollers/nav_controller/changebg'); echo "?id=" ; echo base_url('resource/img/4.jpg'); ?>">		
							<img src="<?php echo base_url('resource/img/4.jpg'); ?>" alt="">
						</a>
					</li>
					<li>
						<a href="<?php echo base_url('index.php/navcontrollers/nav_controller/changebg'); echo "?id=" ; echo base_url('resource/img/5.jpg'); ?>">		
							<img src="<?php echo base_url('resource/img/5.jpg'); ?>" alt="">
						</a>
					</li>
					<li>
						<a href="<?php echo base_url('index.php/navcontrollers/nav_controller/changebg'); echo "?id=" ; echo base_url('resource/img/11.jpg'); ?>">		
							<img src="<?php echo base_url('resource/img/11.jpg'); ?>" alt="">
						</a>
					</li>
				</ul>
			</div>
			<div id="bgimg_right">
				<ul>
					<li>
						<a href="<?php echo base_url('index.php/navcontrollers/nav_controller/changebg'); echo "?id=" ; echo base_url('resource/img/6.jpg'); ?>">		
							<img src="<?php echo base_url('resource/img/6.jpg'); ?>" alt="">
						</a>
					</li>
					<li>
						<a href="<?php echo base_url('index.php/navcontrollers/nav_controller/changebg'); echo "?id=" ; echo base_url('resource/img/7.jpg'); ?>">		
							<img src="<?php echo base_url('resource/img/7.jpg'); ?>" alt="">
						</a>
					</li>
					<li>
						<a href="<?php echo base_url('index.php/navcontrollers/nav_controller/changebg'); echo "?id=" ; echo base_url('resource/img/8.jpg'); ?>">		
							<img src="<?php echo base_url('resource/img/8.jpg'); ?>" alt="">
						</a>
					</li>
					<li>
						<a href="<?php echo base_url('index.php/navcontrollers/nav_controller/changebg'); echo "?id=" ; echo base_url('resource/img/9.jpg'); ?>">		
							<img src="<?php echo base_url('resource/img/9.jpg'); ?>" alt="">
						</a>
					</li>
					<li>
						<a href="<?php echo base_url('index.php/navcontrollers/nav_controller/changebg'); echo "?id=" ; echo base_url('resource/img/10.jpg'); ?>">		
							<img src="<?php echo base_url('resource/img/10.jpg'); ?>" alt="">
						</a>
					</li>

				</ul>
			</div>
		</div>

	</div>

</body>
</html>